body {
  font-family: monospace;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  font-size: 16px;
}
button.circle_background{
  position: absolute;
  left: 40px;
  top: 55px;
  width: 45px;
  height: 45px;
  padding: 6px;
  border-radius: 50%;
  border-color: transparent;
}
button.circle_background:hover{
  background-color: rgb(185 185 185 / 78%);
}
svg.menu-icon{
  position: relative;
}
svg.menu-icon:hover{
  box-shadow: black;
}
#website-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.light-theme {
  color: #075aa6;
  background: #f1f2f3;
}
ul {
  font-family: helvetica;
}
li {
  list-style: circle;
}

.landing__two-colums-with-image__left {
  display: table-cell;
  width: 584px;
}
.landing__two-colums-with-image__right {
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;
}
.form_generation_button {
  text-align: center;
}

*,
:after,
:before {
  box-sizing: border-box;
}
input,
select,
textarea {
  outline: 0;
  margin: 0;
  text-align: left;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

::placeholder {
  color: #8894ab;
  font-weight: 300;
}
.form-dropdown:first-child {
  color: #8894ab;
  font-weight: 300;
}

.form-dropdown:required:invalid {
  color: #0056f7;
  font-weight: 300;
}

.form-all {
  display: flex;

  flex-direction: column;
  width: 100%;
}
.form-line,
[data-wrapper-react="true"] {
  display: flex;

  align-items: flex-start;
}
.form-line {
  padding: 12px 10px;
  margin: 12px 4px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  transition: background-color 0.15s;
}
.form-line,


.form-label {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
}
.form-required {
  margin-left: 4px;
  color: #f23a3c;
}
.form-sub-label {
  font-size: 0.75em;
  margin-top: 11px;
  margin-left: 2px;
  display: block;
  word-break: break-word;
}

.form-label-top {
  width: 100%;
  margin-left: 2px;
  margin-bottom: 14px;
}

.form-sub-label-container {
  flex: 1 1 100%;
}
.form-sub-label-container + .form-sub-label-container {
  margin-left: 8px;
}

li.form-line:not(.form-line-column)[data-type="control_fullname"]
  .form-input-wide
  [data-wrapper-react]:not(.extended)
  .form-sub-label-container
  + .form-sub-label-container {
  margin-left: 24px;
}
.form-input-wide {
  width: 100%;
}
li.form-line:not(.form-line-column) .form-input-wide[data-layout="half"] {
  width: calc(50% - 14px);
}

.form-line:not(.fixed-width) .form-dropdown,
.form-line:not(.fixed-width) .form-spinner,
.form-line:not(.fixed-width) .form-textarea,
.form-line:not(.fixed-width) .form-textbox:not(.time-dropdown),
.form-line:not(.fixed-width) {
  min-width: 100%;
  max-width: 100%;
}

.form-textbox {
  padding: 0 0.625em;
}

.form-dropdown {
  padding: 0 1.875em 0 0.625em;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%2357647E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right 10px bottom 50%;
  background-size: 0.625em;
  background-repeat: no-repeat;
}

.form-dropdown,
.form-textarea,
.form-textbox {
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid;
  display: block;
  min-width: 100%;
}

.form-dropdown:not([size]),
.form-textbox {
  height: 2.5em;
}

.jf-form-buttons {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: auto;
  min-width: 128px;
  color: #2c3345;
  font-size: 1em;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  font-weight: 500;
}

.form-buttons-wrapper,
.form-submit-clear-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0 -38px 10px;
  padding: 30px 52px;
  border-top: 1px solid;
}
.form-buttons-left {
  justify-content: flex-start;
}

li[data-type="control_head"] {
  list-style: none;
}
.form-header {
  margin: 0;
  font-weight: 600;
  line-height: 1.45;
}
.header-text {
  flex-grow: 1;
}

.httal {
  text-align: left;
}

.htvam {
  margin-top: auto;
}
.htvam,
.htvat {
  margin-bottom: auto;
}
.form-header-group {
  border-bottom: 1px solid;
  padding: 14px;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}
div.header-large {
  margin: 0 -38px;
  padding: 2.5em 52px;
}
.header-large .form-header {
  font-size: 2em;
}

li[data-type="control_fullname"] .form-sub-label-container {
  min-width: 0;
}

.form-section {
  margin: 12px 4px;
}

.form-all {
  border-radius: 3px;
  box-shadow: 0 4px 4px rgba(87, 100, 126, 0.21);
  background-color: #fff;
  max-width: 752px;
}
.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-label {
  color: #2c3345;
}

.form-sub-label {
  color: #57647e;
}
.form-dropdown,
.form-textarea,
.form-textbox {
  background-color: #fff;
  border-color: #c3cad8;
  color: #2c3345;
}
.form-dropdown:hover,
.form-textarea:hover,
.form-textbox:hover {
  border-color: #a9bff9;
  box-shadow: 0 0 0 2px #c9d8fe;
}

.jf-form-buttons {
  border-color: #c3cad8;
}

.submit-button,
.back-button {
  background-color: #18bd5b;
  border-color: #18bd5b;
  color: #fff;
}
.form-header {
  color: #2c3345;
  word-break: break-word;
}

.form-header-group {
  border-color: #ededf1;
}
.header-large {
  border-color: #d7d8e1;
}

.form-textarea,
.form-textbox:not(.validate[Email]),
.question-wrapper .form-dropdown {
  width: 100%;
}
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: rgb(100, 200, 240);
  border-color: rgb(194, 236, 96);
}
button#form_generation {
  border-radius: 45px;
  background: repeating-radial-gradient(black, transparent 100px);
  color: paleturquoise;
  font-family: system-ui;
}
button#form_generation:hover {
  color: springgreen;
  box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}
.page-section li[data-type="control_button"] {
  padding: 0;
  margin: 0;
}

ul.page-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0 38px;
  list-style: none;
}